/* General styles for the whole site */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Styles specifically for the canvas page */
canvas {
    display: block;
    background-color: black;
    width: 100vw;
    height: 100vh;
}
